/* Universal Styles */

html, body {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

.heading, .item {
  background-color: cadetblue;
  color: white;
}

.content {
  width: 1032px;
  display: flex;
}

/* Main Banner Section */

.banner {
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  display: flex;
  justify-content: center;
}

.banner .content {
  flex-direction: column;
  align-items: flex-end;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem 0rem 0rem;
  width: 960px;
}

.brand, nav {
  display: flex;
  align-items: center;
}

.brand img {
  height: 1.5rem;
  width: auto;
  padding: 0rem 1rem 0rem 2rem;
}

span {
  padding: 1rem 2rem;
}

.slogan {
  background-color: white;
  margin-top: 10rem;
  display: block;
  width: 60%;
}

.slogan h1 {
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
}

/* Icon Section */

.icons {
  display: flex;
  justify-content: center;

}

.characteristics {
  min-height: 8rem;
  width: 5rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.characteristics img {
  width: 5rem;
}

.characteristics .exams {
  width: 3.5rem;
}

.characteristics p {
  text-align: center;
}

/* About Section */

.about {
  display: flex;
  justify-content: center;
}

.about .category {
  width: 35%;
  margin-right: 5%;
}

.about .category .item {
  font-weight: bold;
  font-size: 1rem;
  width: 10rem;
  padding-left: 1.25rem;
  padding-top: 0.50rem;
  padding-bottom: 0.50rem;
  margin-bottom: 1rem;
}

.item h4 {
  font-size: 1rem;
}

/* Copyright Secion */

.copyright {
  display: flex;
  justify-content: center;
}

.copyright .content {
  background-color: azure;
  margin-top: 5rem;
  align-items: center;
}

.copyright .content img {
  padding: 4rem 1rem 4rem 4rem;
  height: 1.5rem;
}

/* Tablet Query Section */

@media only screen and (max-width: 1012) {
  
}

/* Mobile Query Section */
